body{
    font-family: roboto;
    margin:0;
}

@font-face {
    font-family:"spider" ;
    src: url(fonte/The\ Amazing\ Spider-Man.ttf)
}

header, footer{
    background-image: url(imagens/fundo.jfif);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
}

header nav {
    float:right;
    padding: 20px 30px;
    padding-bottom: 0;
    display: inline-block;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    margin: 20px;
}

header nav ul li a{
    font-family: "spider";
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: bold;
    transition:all 0.5s;
}

header nav ul li a:hover{
    color:red;
    background-color: white;
    padding:15px 20px 10px 20px;

}

.banner-img{
    width: 100px;
    padding: 10px 60px;
}

.jogar-menu{
    background-color: red;
    padding: 10px 15px;
    color:white;
    font-family: spider;
}

.jogar-menu:hover{
    background-color: white;
    color:red;
}

.banner1{
    width: 100%;
    background-image: url(imagens/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 2px 10px red;
}


.video{
    margin-top: 300px;
    margin-bottom: 100px;
    box-shadow: 0px 2px 5px 5px rgb(50, 50, 255);
}

.videodiv{
    width: 500px;
    margin: auto;
}

.videodiv2{
    width: 1000px;
    margin: auto;
    margin-top:60px;
    margin-bottom:100px;
    box-shadow: 0px 2px 5px 5px rgb(50, 50, 255);
}

.titulo-sobre{
    text-align: center;
    background-color: black;
    color:white;
    font-family:spider;
    padding:20px 20px 10px 10px;
    font-size:25px;
    width:20%;
    margin:auto;
    margin-top:60px;
}

.btn-paginas{
    text-decoration: none;
    background:red;
    color:white;
    padding: 15px 20px 10px 20px;
    border-radius:20px;
    font-family:spider;
    font-size:20px;
    transition: all 0.5s;
}

.btn-paginas:hover{
    background-color: black;
    color:red;
}

.text1-sobre{
    text-align: justify;
    width:1000px;
    margin:auto;
    font-size:20px;
    color:#202020;
}

.text1{
    text-align:center;
}

.text1 h2{
    background-color: black;
    color:white;
    width:35%;
    margin:auto;
    margin-top:20px;
    padding:10px 20px;
    border-radius: 5px;
    font-family:spider;
    font-size:25px;
}

.text1 p{
    font-size:20px;
    margin: 30px 0px;
    color:#202020;

}

.text1 a{
    text-decoration: none;
    background:red;
    color:white;
    padding: 15px 20px 10px 20px;
    border-radius:20px;
    font-family:spider;
    font-size:20px;
    transition: all 0.5s;
}

.text1 a:hover{
    background-color: black;
    color:red;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 50%) ;
}

.text2, .coluna{
    margin-top:150px;
    margin-bottom: 60px;
}

.text2, .coluna h2{
    background-color:black;
    color:white;
    font-family: spider;
    border-radius:5px;
    padding:20px 15px 10px 15px;
    margin: 20px 30px 30px 30px;
    text-align: center;
}

.text2, .coluna p{
    text-align: center;
    font-size:20px;
    margin:0;
    padding:10px;
    padding-bottom: 30px;
    color: #202020;
}

.text2, .coluna a{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 20px 20px 10px 20px;
    border-radius:10px;
    font-family: spider;
    font-size:20px;
    transition:all 0.5s;
}

.text2, .coluna a:hover{
    color: red;
    background:black;
}

.imgvenom{
    width:600px;
    margin-left: 60px;
    
}

.grid2{
    display:grid;
    grid-template-columns: repeat(3, 33.33%);
    width: 100%;
    margin: 60px 0px;
}

.coluna2{
    margin: 15px 30px 15px;
    border: 5px solid black;
    width: 100%;

}

.coluna2, img{
    width:400px;
}

form{
    margin-left:200px;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 100px;

}

.form1{
    text-align: left;
    width: 80%;
    margin-top: 7px;
    padding: 10px 5px;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
}

.form1:focus{
    background-color:rgb(206, 225, 255);
    color:rgb(0, 0, 0);
}

label{
    color:#494949;
}

.btn-submit, .btn-reset{
    background-color:green;
    border:none;
    padding: 15px 20px 10px 20px;
    color:white;
    font-family:spider;
    font-size: 18px;
    border-radius:40px;
    margin-right:20px;
}

.btn-reset{
    background-color:red;
}

#enviado{
    display:none;
    color: green;
    margin-top:20px;
}


footer, footer p{
    color: white;
}

footer img{
    width: 150px;
    margin:20px 340px 20px 660px;
    box-sizing: border-box;
    
}

footer ul{
    list-style: none;
    text-align: center;
}

footer ul li{
    display:inline-block;
    margin: 10px;    
}

footer ul li p a i{
    text-decoration: none;
    color:white;
    background-color:red;
    border-radius:200px;
    padding:10px 10px;
    font-size:25px;
    transition: all 0.5s;
}

footer ul li p a i:hover{
    background-color:white;
    color:red;
}

.desenvolvido{
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding-left: 50px;
    padding-bottom: 20px;
}

.menu{
    display:none;
}

.mostrar{
    display: block;
}

.clearfix{
    clear: both;
}

@media (max-width: 420px){
    header, footer{
        width: 100%;
        display:inline-block;
    }

    .banner-img{
        width:80px;
        float:left;
        padding:10px 30px;
    }

    header nav{
        display:none;
    }
    header nav ul{
        width:300px;
        margin:auto;
        padding-left:20px;
    }
    header nav ul li a{
        text-align: center;
        
    }
    header nav ul li{
        display:block;
        text-align:center;
    }

    .menu{
        display: block;
        background:none;
        border:1px solid white;
        color:white;
        font-size:30px;
        float:right;
        margin:40px;
        padding:20px;
    }

    .banner1{
        background-image:none;
        box-shadow:none;
    }

    .videodiv{
        width:250px;
        margin:auto;
        margin-right:100px;
        margin-left:45px;
    }

    .video{
        margin-top:50px;
        margin-bottom:50px;
        width:300px;
        height:200px;
    }

    .text1 h2{
        font-size:20px;
        width:50%;
    }

    .text1 p{
        font-size:15px;
    }
    .text1 a{
        font-size:15px;
    }

    .titulo-sobre{
     width:50%;
     margin:auto;
     margin-top:30px

    }

    .videodiv2{
        width:300px;
        margin:auto;
        height:200px;
        box-shadow: none;
    }

    .video2{
        margin-top:50px;
        margin-bottom:50px;
        width:300px;
        height:200px;
        box-shadow: 1px 2px 10px blue;
    }

    .text1-sobre{
        width: 100%;
        font-size:15px;
        margin: auto;
        padding: 80px 10px;
        box-sizing: border-box;
    }

    .grid{
        grid-template-columns: 100%;
    }

    .coluna{
        width: 100%;
    }

    .imgvenom{
        width: 300px;
        margin-top:10px;
        margin-bottom:10px;
    }

    .text2, .coluna h2{
        width:50%;
        font-size: 20px;
        margin:auto;
    }

    .text2, .coluna p{
        font-size:15px;
        margin-top:20px;
    }
    .text2, .coluna a{
        font-size:15px;
    }

    .grid2{
        grid-template-columns: 100%;
    }

    .coluna2, img{
        width:300px;
        margin: auto;
        margin-bottom: 20px;
    }

    form{
        width: 100%;
        margin: auto;
        text-align: center;
        padding-top:20px;
    }

    .form1{
        width: 80%;
        text-align: center;
        margin:auto;
    }

    .btn-submit{
        margin-bottom:20px;
    }

    footer ul {
        margin-right: 25px;
    }

    footer ul li p a i{
        font-size:20px;   
    }

    footer img{
        display:block;
        padding: auto;
        margin:auto;
    }

    .desenvolvido{
        font-size:18px;
        padding-bottom: 60px;
        margin-right:25px;
    }

}